.sidebar {
    position: absolute;
    z-index: -1;
    width: 317px;
    background: #fff;
}

.sidebar.open {
    z-index: 2;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.3;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    width: 317px;
    background: #fff;
    height: 100vh;
}

.nav a {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
    text-decoration-skip-ink: none;
    color: #000;
}

.nav a:hover {
    color: #58acff;
    text-decoration: none;
}

.nav a.active {
    text-decoration: underline;
    color: #0059b2;
}

.close {
    border: none;
    background-color: transparent;
    margin-top: 16px ;
    margin-bottom: 23px;
    width: 24px;
    height: 24px;
}

.close img {

}
