.radio {
    accent-color: #000000;
    margin-right: 10px;

}

.radio::before {
}


.radio:checked::before {
    color: black;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
