.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.friendText {
    color: #000000;
    background-image: url("BgMsg2.png");
    background-size: cover;
    padding: 8px 13px 8px 26px;
}

.friendText:after {

}

.friendName {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    /*padding: 8px 26px 4px 13px;*/

}

.friendMessageText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    padding: 0 26px 8px 13px;
}

.friendTime {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;

}
