.burgerMenuIcon {
    width: 24px;
    height: 24px;
}

.header {
    padding: 16px 70px 14px 70px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000;
}